@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <div id="current">@ViewData["ButtonCount"]</div>
        <div id="motion"></div>
    </div>
</div>

<script src="~/js/gpiohub.js"></script>