@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <br />
        <form>
            <input type="text" id="message" />
            <button type="submit" id="button">Send</button>
        </form>
        <div id="messages"></div>

        <script src="lib/signalr/signalr.js"></script>
        <script src="js/chat.js"></script>
    </div>
</div>